import /init.recovery.microtrust.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1
    setprop sys.usb.controller musb-hdrc
    setprop ro.boot.usbcontroller musb-hdrc
    mkdir /tmp 0777 root root
    mkdir /data 0771 system system
    restorecon /tmp
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/system/lib:/vendor/lib

on fs
    write /sys/class/udc/musb-hdrc/device/cmode 1
    start hwservicemanager

on post-fs
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

on boot
    chmod 0666 /dev/input/event0
    chmod 0666 /dev/input/event1
    chmod 0666 /dev/input/event2
    chmod 0666 /dev/input/event3
    chmod 0666 /dev/input/event4
    chmod 0666 /dev/input/event5
    chown root root /dev/input/event0
    chown root root /dev/input/event1
    chown root root /dev/input/event2
    chown root root /dev/input/event3
    chown root root /dev/input/event4
    chown root root /dev/input/event5
